{% capture log %}
{% if lang == "fr" %}
	{% assign home = "Accueil" %}
	{% assign modules = "Modules" %}
	{% assign demos = "Démos" %}
	{% assign tags = "Catégories" %}
	{% assign portfolio = "Portfolio" %}
	{% assign links = "Liens" %}
	{% assign archives = "Archives" %}
	{% assign contact = "Contact" %}
{% else %}
	{% assign home = "HomePage" %}
	{% assign modules = "Modules" %}
	{% assign demos = "Demos" %}
	{% assign portfolio = "Portfolio" %}
	{% assign tags = "Catégories" %}
	{% assign links = "Links" %}
	{% assign archives = "Archives" %}
	{% assign contact = "Contact" %}
{% endif %}
{% endcapture %}
			<a href="/index_{{lang}}">{{ home }}</a> -
			<a href="/pages/module_{{lang}}">{{ modules }}</a> -
			<!--<a href="/pages/demos_{{lang}}">{{ demos }}</a>
			<a href="/pages/portfolio_{{lang}}">{{ portfolio }}</a> - -->
			<a href="/pages/tags_{{lang}}">{{ tags }}</a> -
			<a href="/pages/archives_{{lang}}">{{ archives }}</a> -
			<a href="/pages/link_{{lang}}">{{ links }}</a> -
			<a href="/pages/contact_{{lang}}">{{ contact }}</a>
