{% capture debug %}

{% if lang == null %}{% include translation.markdown %}{{ logTranslation }}{% endif %}

{% if lang == "fr" %}
	{% assign titre  = "Cat&eacute;gories " %}
	{% assign posted = "Post&eacute; le" %}
{% else %}
	{% assign titre  = "Categories " %}
	{% assign posted = "Posted the" %}
{% endif %}

{% endcapture %}
<h1>{{titre}}</h1> 
<div class="tag list"> 
{% for post in site.tags.tagpage %}

	{% assign rlang = false %}
	{% assign lang1 = false %}
	{% assign lang2 = false %}
	{% if post.lang == page.lang %}{% assign lang1 = true %}{% endif %}
	{% if post.lang == null and page.lang == 'fr' %}{% assign lang2 = true %}{% endif %}
	{% if lang1 or lang2 %}{% assign rlang = true %}{% endif %}	
	
	{% assign size = 1%}

	{% for p in site.posts %}
		{% if p.tags contains post.tagtodraw or p.categories contains post.tagtodraw %}
			{% if p.lang == page.lang %}{% assign lang1 = true %}{% endif %}
			{% if p.lang == null and page.lang == 'fr' %}{% assign lang2 = true %}{% endif %}
			{% if lang1 or lang2 %}{% assign rlang2 = true %}{% endif %}	
			{% if rlang2 %}
				{% assign size = size|plus:1%}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% if rlang %}
	<div class="item">
		<a href="{{ post.url }}" class="item-link"></a>
		<h2><a href="{{ post.url }}">{{ post.tagtodraw|capitalize }}</a></h2>
		<div class="quantite">{{size}}</div>
	</div>
	{% endif %}
{% endfor %}
	<div class="clearer"></div>
</div> 
