{% capture debug %}

{% if lang == null %}{% include translation.markdown %}{{ logTranslation }}{% endif %}

{% if lang == "fr" %}
	{% assign titre  = "Articles de la categorie " %}
	{% assign posted = "Posté le" %}
{% else %}
	{% assign titre  = "Articles in " %}
	{% assign posted = "Posted the" %}
{% endif %}

{% endcapture %}
<h1>{{titre}}</h1> 
<div class="tag list"> 
{% for post in site.tags.tagpage %}

	{% assign rlang = false %}
	{% assign lang1 = false %}
	{% assign lang2 = false %}
	{% if post.lang == page.lang %}{% assign lang1 = true %}{% endif %}
	{% if post.lang == null and page.lang == 'fr' %}{% assign lang2 = true %}{% endif %}
	{% if lang1 or lang2 %}{% assign rlang = true %}{% endif %}	
	
	{% assign cats = false %}
	
	{% include define_tags.html %}

	{% if cats and rlang %}
	<div class="item">
		<a href="{{ post.url }}" class="item-link"></a>
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<div class="date">{{posted}} {{ post.date | date_to_string }}</div> 
		<div class="cats">
			<div class="insidecats">
				<hr>
				{{ displaycats }}
			</div>
		</div> 
		<div class="resume">{{ post.tagtodraw }}</div>
	</div>
	{% endif %}
{% endfor %}
	<div class="clearer"></div>
</div> 
