@charset "utf-8";
/* CSS Document */

body{ font-family:Verdana, Arial, Helvetica, sans-serif; line-height:1.5em;}

h1{text-align:center}
h1, h2, h3{font-family:Georgia, "Times New Roman", Times, serif; }
h2{background: url(../images/h1-background.png); padding:5px 10px}

h1 a, h2 a, h3 a, h4 a{color:black; text-decoration:none}

p{padding-left:10px; font-size:smaller; }

.ombre{padding-top:60px;position:absolute; top:1px; left:1px; color:#333333}
.text.ombre{padding-top:60px;position:absolute; top:0px; left:0px; color:#003300}



