/* CSS Document */
#entete   {background-image: url(fond.png);}

#entete, #mainnav {background-color: #3B245D; }

/* Menu */
#mainnav {border-color:#130C1F; }
#mainnav a{ border:0px solid #153B03; text-shadow: 1px -1px 3px #C29052; }
#mainnav a{color:#F1D9B5;}
#mainnav a:hover{background:#AA83CB; text-shadow: 1px -1px 3px #C29052;}
